* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: transparent;
  color: #b0b4bc;
  // padding: 12px;
  font-family: "Public Pixel";
  font-size: 15px;
}

// Styles on classes (see eww.yuck for more information)


.Battery label {
  font-family: "JetBrains Mono";
  font-size: 20px;
}

.launcher, .Volume, .CPU, .Memory, .Wifi label {
  font-family: "JetBrains Mono";
  font-size: 35px;
}

.Lock label {
  font-family: "JetBrains Mono";
  font-size: 25px;
}

.workspaces button:hover {
  color: #D35D6E;
}
